@use 'includes' as i;
@use 'themes' as t;

:host {
  @include i.flex-column(flex-start, flex-start);
  width: 100%;
  height: 100%;
  background-color: white;
  @include i.shadow();
  gap: 0.25rem;
  padding: 1rem;
  border-radius: i.border-radius('md');
}

.list-header{
  width: 100%;
  border-bottom: 1px solid t.get-color('primary-neutral', 200);
  padding: .625rem 0;
}

.list-wrapper {
  width: 100%;
  height: 100%;
  @include i.flex-column(flex-start, flex-start);
  gap: 0.25rem;
}

.item-wrapper {
  width: 100%;
  @include i.flex-row(center, space-between);
}

.item__todo {
  &.completed {
    text-decoration: line-through;
  }
}


.item__buttons{
  @include i.flex-row(center, flex-end);
  min-width: 8rem;
}
