@use 'includes' as i;
@use 'themes' as t;

:host {
  display: block;
}

.todo-wrapper {
  @include i.flex-row(flex-start, flex-start);
  gap: 1rem;
  width: 70vw;
  height: 60vh;
}

.todo-list-wrapper {
  width: 50%;
  height: 100%;
  @include i.flex-column();
  gap: 1rem;
  padding: 0.25rem;
}

.completed-todo-list-wrapper {
  width: 50%;
  height: 100%;
  padding: 0.25rem;
  @include i.flex();
}

@include i.breakpoint-down('md'){
  .todo-wrapper{
    @include i.flex-column();
    width: 90vw;
    height: fit-content;
  }

  .todo-list-wrapper{
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
  }

  .completed-todo-list-wrapper {
    width: 100%;
    max-height: 90vh;
    overflow-y: auto;
  }

}

