@use 'includes' as i;
@use 'themes' as t;

:host {
  display: block;
  width: 100%;
}

.todo-wrapper {
  @include i.flex-row(center, flex-start);
  gap: 0.5rem;
}

.todo-list-wrapper {
  @include i.flex-column(center, center);
  gap: 0.5rem;
}

.completed-todo-list-wrapper {
  @include i.flex(center, center);
}
