<div class="input-wrapper">
  <input
    #inputElement
    class="input sm"
    [class.split-left]="split() === 'left'"
    [class.split-right]="split() === 'right'"
    [type]="type()"
    [formControl]="control"
    [autocomplete]="autocomplete()"
    [placeholder]="placeholder"
    [class.danger]="danger"
    [min]="min()"
    [max]="max()"
    (paste)="onPaste()"
    [style.padding-right.rem]="paddingRight()"
    (keydown.enter)="preventEnter() ? $event.preventDefault() : null" />
</div>

<section class="message">
  @if (control.getError('required') && control.touched) {
      <p>This field is required.</p>
  }

  @if (control.getError('maxlength') && control.value !== '') {
    <p>This field must not exceed 100 characters.</p>
  }
</section>
